<div class="container">
  <app-header></app-header>
  <div class="filter-container">
    <div class="filter-title">
      <h2>Filtrar por:</h2>
    </div>
    <div class="filter-item">
      <label for="graduationDate">Fecha graduación</label>
      <input type="date" id="graduationDateFrom" placeholder="Desde" />
      <input type="date" id="graduationDateTo" placeholder="Hasta" />
    </div>

    <div class="filter-item">
      <app-carrera></app-carrera>
      <app-filters> </app-filters>
      <app-provincias></app-provincias>
    </div>
  </div>
  <div class="usuarios">
    <app-targetas-usuarios></app-targetas-usuarios>
  </div>
</div>
<router-outlet></router-outlet>
